@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

@layer components {
  .btn {
    @apply flex-none w-10 h-10 bg-white hover:text-amber-500 hover:bg-amber-300 rounded-lg hover:border-amber-500 shadow-md border;
  }
}
